@model List<UserRoleViewModel>

@{
    ViewData["Title"] = "EditingUsersInRole : AspNetUserRoles table";
}

<div class="container mt-3">
    <form method="post" asp-action="EditUsersInRole" asp-controller="Administration" asp-route-roleId="@ViewBag.roleId">
        <div class="card">
            <div class="card-header">
                <h3>Edit Users In this Role : @ViewBag.roleName</h3>
            </div>
            <div class="card-body">

                @* Display list of available user for the roles to select *@
                @for(int i=0;i<Model.Count;i++)
                {
                    <div class="form-check m-1">

                        @* this to hide two fileds of input *@
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        
                        @* checkbox and lable username has to display *@
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].IsSelected">@Model[i].UserName</label>

                    </div>

                }
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-secondary w-auto">Update</button>
                @* if user click cancel redirect to editrole *@
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@ViewBag.roleId" class="btn btn-danger" style="width:auto">Cancel</a>
            </div>
        </div>

    </form>
</div>